<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>{% block title %}{% end %}</title>
    <link rel="stylesheet" href="{{ static_url('css/styles.css') }}" type="text/css"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    {% block head %}
    {% end %}
  </head>

  <body>
    <div id="content">
    {% block content %}{% end %}
    </div>
  </body>
  {% block javascript %}
  <script type="text/javascript">
  //<![CDATA[
    $(document).ready(function() {
      {% block onload %}
      {% end %}
    });
  //]]>
  </script>
  {% end %}
</html>
